<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>


<div class="football-content">

  <div class="player-table">
    <div class="player-card" *ngFor="let index = index; let player of players" id="drag{{index}}" draggable="true" (dragstart)="dragPlayer(player)">
      <div class="player-row">
      <span>
        <span>{{player.name}}</span>
      </span>
      <span class="player-data">
        <span>{{player.number}}</span>
        <span>{{player.position}}</span>
      </span>
      </div>
    </div>
  </div>

  <div class="filed">
    <div class="goalkeeper-container">
      <span class="goalkeeper-a"></span>
      <player class="goalkeeper-b"></player>
      <span class="goalkeeper-c"></span>
    </div>

    <div class="row-container">
      <player class="defense-a"></player>
      <player class="defense-b"></player>
      <player class="defense-c"></player>
      <player class="defense-d"></player>
    </div>
    <div class="row-container">
      <player class="defense-a"></player>
      <player class="defense-b"></player>
      <player class="defense-c"></player>
      <player class="defense-d"></player>
    </div>
    <div class="row-container">
      <span class="defense-a"></span>
      <player class="defense-b"></player>
      <player class="defense-c"></player>
      <span class="defense-d"></span>
    </div> 
  </div>

</div>







