<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>


<div class="football-content">

  <div class="player-table">
    <div class="player-card" *ngFor="let player of players" [myDraggable]="{data: player}">
      <div class="player-row">
      <span>
        <span>{{player.name}}</span>
      </span>
      <span class="player-data">
        <span>{{player.number}}</span>
        <span>{{player.position}}</span>
      </span>
      </div>
    </div>
  </div>

  <div class="filed">
    <div class="goalkeeper-container">
      <span class="goalkeeper-a"></span>
      <player class="goalkeeper-b" myDropTarget (myDrop)="onDrop($event)"></player>
      <span class="goalkeeper-c"></span>
    </div>

    <div class="row-container">
      <player class="player-a"></player>
      <player class="player-b"></player>
      <player class="player-c"></player>
      <player class="player-d"></player>
    </div>
    <div class="row-container">
      <player class="player-a"></player>
      <player class="player-b"></player>
      <player class="player-c"></player>
      <player class="player-d"></player>
    </div>
    <div class="row-container">
      <span class="player-a"></span>
      <player class="player-b"></player>
      <player class="player-c"></player>
      <span class="player-d"></span>
    </div> 
  </div>

</div>







